:root {
    --color-blue-whiter: #4263EB;
    --color-blue: #364FC7;
    --color-grey0: #0A0C0D;
    --color-grey1: #212529;
    --color-grey2: #495057;
    --color-grey3: #868E96;
    --color-grey4: #DEE2E6;
    --color-grey5: #F8F9FA;
    --color-grey6: #EDF2FF;
    --color-grey-opacity: rgba(33, 37, 41, 0.5);
    --white: #ffffff;
    
    --font-weiht-title: 700;
    --font-size-title: 1.25rem;

}

::backdrop {
    --background-backdrop-color: rgba(33, 37, 41, 0.5);
}

img{
    width: 50px;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.container{
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 90px;
    padding: 0 32px;

    position: fixed;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;

    color: var(--white);
    background-color: var(--color-grey1);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container > h1 {
    line-height: 2.5rem;
    font-weight: 600;
}

.header__container > p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    font-weight: 500;
}

