.fixed {
    margin-top: 120px;
    margin-bottom: 20px;
}

.main_aside {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;
}

.submit-post__container {
    width: 100%;
}

.post-form__container {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.input__form {
    width: 100%;

    color: var(--color-grey4);
    padding: 10px;
    font-size: 13px;

    border: 2px solid var(--color-grey4);
    border-radius: 3px;
}

.text__form {
    width: 100%;
    height: 110px;

    padding: 10px;

    font-size: 13px;

    color: var(--color-grey4);

    border: 2px solid var(--color-grey4);
    border-radius: 3px;

    resize: none;

    margin-top: 5px;
}

.text__form:focus,
.input__form:focus {
    border: 2px solid var(--color-blue-whiter);
}

.text__form:valid,
.input__form:valid {
    border: 2px solid var(--color-grey4);
    color: var(--color-grey2);
}

.desktop-follow-suggestions__container {
    display: none;
}

.mobile-follow-suggestions__container {
    width: 100%;
    padding: 0 0.625rem;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.main-list__suggestions {
    width: 100%;
    padding: 8px 0;

    overflow-x: scroll;
    white-space: nowrap;
    display: flex;

    gap: 15px;
}

.list__suggestions {
    min-width: 15.5rem;
    height: 6rem;


    display: flex;
    justify-content: space-between;
    flex-direction: column;

    gap: 30px;

    padding-bottom: 7px;
}

.posts__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.posts__container>h2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weiht-title);
}

.posts__container>h3 {
    color: var(--color-grey2);
}

.main-list__posts {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.list__posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.list__posts>h3 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weiht-title);
}

.list__posts>p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.post-button__container {
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.heart__container {
    display: flex;
    align-items: center;

    font-size: 0.875rem;
    gap: 0.3125rem;
}

.post__heart {
    width: 26px;
    height: 20px;
    font-weight: 900px;
    font-size: 1.2rem;
    color: var(--color-grey-opacity);
}

@media (min-width: 700px) {
    .fixed {
        margin-top: 120px;
    }

    .main_aside {
        position: relative;
        gap: 50px;
    }

    .desktop-follow-suggestions__container {
        height: fit-content;

        display: flex;
        flex-direction: column;
        position: sticky;

        top: 100px;

    }

    .main-list__suggestions {
        flex-direction: column;
        overflow-x: auto;
    }

    .list__suggestions {
        min-width: 22.5rem;
        height: 4rem;
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }

    .main_aside {
        flex-direction: row;
        gap: 4.875rem;
    }

    .mobile-follow-suggestions__container {
        display: none;
    }
}